<div class="p-4">
  <app-Offers-nav-bar></app-Offers-nav-bar>
  <ng-container *ngIf="offersState$ | async as state" [ngSwitch]="state.dataState">
     <ng-container *ngSwitchCase="OffersStateEnum.INITIAL">
       <div class="p-2"> Initial State</div>
     </ng-container>
    <ng-container *ngSwitchCase="OffersStateEnum.LOADING">
      <div class="p-2"> Loading...</div>
    </ng-container>
    <ng-container *ngSwitchCase="OffersStateEnum.ERROR">
      <div class="p-2 text-danger"> {{state.errorMessage |json}}</div>
    </ng-container>
    <ng-container *ngSwitchCase="OffersStateEnum.LOADED" class="p-4">
      <app-Offers-list [state]="state"></app-Offers-list>
    </ng-container>
  </ng-container>
</div>
